Repository klowdo/tailswan: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, alejandra, go-test, go-build, go-mod-tidy

golangci-lint:
  name: golangci-lint
  entry: golangci-lint
  language: system
  pass_filenames: false
  args:
  - run
  - --fix

alejandra:
  name: alejandra
  entry: alejandra
  language: system

go-test:
  name: go test
  entry: go
  language: system
  args:
  - test
  - -short
  - ./...
  pass_filenames: false

go-build:
  name: go build
  entry: go
  language: system
  args:
  - build
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

sve
  .github/workflows/docker-build.yml
  Dockerfile
  VERSION
  banner.txt
  cmd/tailswan/main.go
  internal/version/version.go
Due: golangci-lint, go-test, go-build

save
  .dockerignore
  .github/workflows/golangci-lint.yml
  .gitignore
  .golangci.yml
  .tool-versions
  Dockerfile
  Makefile
  flake.nix
  internal/server/server.go
  internal/sse/broadcaster.go
  internal/supervisor/sysconfig.go
  renovate.json
  scripts/build-linter.sh
  scripts/entrypoint.sh
  scripts/healthcheck.sh
  scripts/swan-status.sh
  scripts/vpn.sh
Due: golangci-lint, alejandra, go-test, go-build

save
  Dockerfile
  assets/banner.txt
  banner.txt
Due: none

save
  .github/workflows/docker-build.yml
  .tool-versions
  Dockerfile
  Makefile
  docker-compose.yml
  go.mod
Due: go-mod-tidy

save
  .env.example
  Dockerfile
  cmd/tailswan/main.go
  docker-compose.yml
  internal/supervisor/health.go
  internal/supervisor/supervisor.go
  internal/supervisor/tailscale.go
Due: golangci-lint, go-test, go-build

fix
  .gitignore
  internal/config/config.go
Due: golangci-lint, go-test, go-build

feat: Add web UI with PWA support
  cmd/controlserver/web/PWA-README.md
  cmd/controlserver/web/app.js
  cmd/controlserver/web/favicon.svg
  cmd/controlserver/web/icons/generate-icons.sh
  cmd/controlserver/web/icons/icon-128.png
  cmd/controlserver/web/icons/icon-144.png
  cmd/controlserver/web/icons/icon-152.png
  cmd/controlserver/web/icons/icon-192.png
  cmd/controlserver/web/icons/icon-384.png
  cmd/controlserver/web/icons/icon-512.png
  cmd/controlserver/web/icons/icon-72.png
  cmd/controlserver/web/icons/icon-96.png
  cmd/controlserver/web/index.html
  cmd/controlserver/web/logo.jpeg
  cmd/controlserver/web/manifest.json
  cmd/controlserver/web/style.css
  cmd/controlserver/web/sw.js
Due: none

docs: Add documentation and examples
  .env.example
  .gitignore
  CONTRIBUTING.md
  README.md
  cmd/controlserver/README.md
  swanctl.conf.example
Due: none

feat: Add TailSwan core implementation
  cmd/controlserver/main.go
  cmd/tailswan/main.go
  go.mod
  go.sum
  internal/cli/connections.go
  internal/cli/healthcheck.go
  internal/cli/reload.go
  internal/cli/root.go
  internal/cli/sas.go
  internal/cli/start.go
  internal/cli/status.go
  internal/cli/stop.go
  internal/config/config.go
  internal/handlers/health.go
  internal/handlers/sse.go
  internal/handlers/tailscale.go
  internal/handlers/vici.go
  internal/models/models.go
  internal/routes/routes.go
  internal/server/server.go
  internal/sse/broadcaster.go
  internal/sse/state.go
  internal/supervisor/health.go
  internal/supervisor/process.go
  internal/supervisor/supervisor.go
  internal/supervisor/swan.go
  internal/supervisor/sysconfig.go
  internal/supervisor/tailscale.go
  internal/version/version.go
Due: golangci-lint, go-test, go-build, go-mod-tidy

chore: Add build and deployment configuration
  .dockerignore
  .envrc
  .github/workflows/docker-build.yml
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .mcp.json
  .pre-commit-config.yaml
  .tool-versions
  Dockerfile
  Makefile
  VERSION
  assets/banner.txt
  assets/swan-tailscale-gopher.jpeg
  assets/website-logo.jpeg
  docker-compose.yml
  flake.lock
  flake.nix
  renovate.json
  scripts/build-linter.sh
Due: alejandra

chore: Prepare repository for public release
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

test: Add unit tests for core packages
  internal/config/config_test.go
  internal/handlers/health_test.go
  internal/handlers/sse_test.go
  internal/handlers/tailscale_test.go
  internal/handlers/vici_test.go
  internal/models/models_test.go
  internal/routes/routes_test.go
  internal/sse/state_test.go
  internal/version/version_test.go
Due: golangci-lint, go-test, go-build

fix: Resolve data race in SSEHandler test
  internal/handlers/sse_test.go
Due: golangci-lint, go-test, go-build

chore: Move Renovate config to .github/ and enable platform automerge
  .github/renovate.json
Due: none

chore(deps): Update strongswan/govici to v0.8.2
  go.mod
  go.sum
  internal/handlers/vici.go
  internal/sse/broadcaster.go
Due: golangci-lint, go-test, go-build, go-mod-tidy

ci: Add automatic release system with release-please
  .github/workflows/release-please.yml
  .release-please-manifest.json
  internal/version/version.go
  release-please-config.json
Due: golangci-lint, go-test, go-build

ci: Skip arm64 Docker build on PRs to speed up CI
  .github/workflows/docker-build.yml
Due: none

ci: Remove Docker Hub support from build workflow
  .github/workflows/docker-build.yml
Due: none

fix: migrate from deprecated tailscale.com/client/tailscale to tailscale.com/client/local
  internal/handlers/tailscale.go
  internal/sse/broadcaster.go
  internal/supervisor/health.go
  internal/supervisor/tailscale.go
Due: golangci-lint, go-test, go-build

fix: suppress gosec G117 by excluding AuthKey from JSON serialization
  internal/config/config.go
  internal/supervisor/tailscale.go
Due: golangci-lint, go-test, go-build

ci: group Go version updates in Renovate
  .github/renovate.json
Due: none

fix: update fang import path to charm.land/fang/v2
  cmd/tailswan/main.go
  go.mod
  go.sum
Due: golangci-lint, go-test, go-build, go-mod-tidy

refactor: replace tailscale CLI shelling with local.Client API
  internal/supervisor/tailscale.go
Due: golangci-lint, go-test, go-build

refactor: merge controlserver into single tailswan binary
  Dockerfile
  cmd/controlserver/README.md
  cmd/controlserver/main.go
  cmd/tailswan/main.go
  cmd/tailswan/web/PWA-README.md
  cmd/tailswan/web/app.js
  cmd/tailswan/web/favicon.svg
  cmd/tailswan/web/icons/generate-icons.sh
  cmd/tailswan/web/icons/icon-128.png
  cmd/tailswan/web/icons/icon-144.png
  cmd/tailswan/web/icons/icon-152.png
  cmd/tailswan/web/icons/icon-192.png
  cmd/tailswan/web/icons/icon-384.png
  cmd/tailswan/web/icons/icon-512.png
  cmd/tailswan/web/icons/icon-72.png
  cmd/tailswan/web/icons/icon-96.png
  cmd/tailswan/web/index.html
  cmd/tailswan/web/logo.jpeg
  cmd/tailswan/web/manifest.json
  cmd/tailswan/web/style.css
  cmd/tailswan/web/sw.js
  internal/supervisor/supervisor.go
Due: golangci-lint, go-test, go-build

refactor: generalize SSE polling into single reusable loop
  internal/sse/broadcaster.go
Due: golangci-lint, go-test, go-build

refactor: unify strongSwan interaction through VICI service layer
  cmd/controlserver/main.go
  internal/cli/connections.go
  internal/cli/reload.go
  internal/cli/sas.go
  internal/cli/start.go
  internal/cli/status.go
  internal/cli/stop.go
  internal/handlers/vici.go
  internal/handlers/vici_test.go
  internal/server/server.go
  internal/sse/broadcaster.go
  internal/supervisor/health.go
  internal/supervisor/supervisor.go
  internal/supervisor/swan.go
  internal/swan/service.go
Due: golangci-lint, go-test, go-build

refactor: simplify config by passing config.Config directly to supervisor
  cmd/tailswan/main.go
  internal/supervisor/supervisor.go
  internal/supervisor/tailscale.go
Due: golangci-lint, go-test, go-build

fix: bump Dockerfile Go version to 1.26.1 and add Renovate tracking
  Dockerfile
Due: none

fix: VICI mutex, swanctl --load-all, non-blocking initiate, Go 1.26.1
  Dockerfile
  internal/supervisor/supervisor.go
  internal/swan/service.go
Due: golangci-lint, go-test, go-build

fix: docker build workflow only verifies on PRs, pushes on tags
  .github/workflows/docker-build.yml
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  alejandra: any of: \.nix$
  go-test: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
